---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>xynlab</h1>
</Layout>

<style>
    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
</style>
