<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>xynlab</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/favicons/safari-pinned-tab.svg"
            color="#ff6633"
        />
        <link rel="shortcut icon" href="/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#ff6633" />
        <meta
            name="msapplication-config"
            content="/favicons/browserconfig.xml"
        />
        <meta name="theme-color" content="#ff6633" />
    </head>
    <body>
        <main>
            <slot />
        </main>
        <!-- TODO: Footer -->
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

    :root {
        --color-theme: #ff6633;
        --color-theme-blur: #ff6633aa;
        --color-bg: #111111;
        --color-text: #eeeeee;
        --color-text-blur: #eeeeeeaa;
    }

    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Inter", sans-serif;
        background-color: var(--color-bg);
        color: var(--color-text);
        overflow-x: hidden;
        scroll-behavior: smooth !important;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main {
        padding: 1rem;
        width: 80vw;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
</style>
